/**
 * Your CSS goes here.
 */
 body{
    background-image: url('./images/Group.svg');
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .cosmicPlanet{
    width: 100%;
    aspect-ratio: 1/1;
    position: absolute;
    bottom: -170%;
    animation: spin 50s linear infinite;
 }
 @keyframes spin{
    100% { transform: rotate(360deg); }
 }
 .spaceShip {
   width: 130px;
   height: 200px;
   position: absolute;
   top: 0;
   margin: auto;
 }
 .UFO {
   width: 200px;
   height: 90px;
   position: absolute;
   top: 40%;
   margin: auto;
   right: 70px;
 }
 .star {
   width: 700px;
   height: 50px;
   position: absolute;
   top: 5%;
   margin: auto;
   left: 80px;
 }
 .starlight {
   width: 600px;
   height: 50px;
   position: absolute;
   top: 40%;
   margin: auto;
   right: 20px;
 }
 .scroll {
  position: absolute;
  right: 45px;
  color: white;
  display: flex;
 justify-content: center;
 bottom: 20px;
 flex-direction: column;
 align-items: center;
 font-size: 28px;
  font-weight: 500;
}

 .scroll h1, .press h1 {
  font-size: 28px;
  font-weight: 500;
  

 }
 .press {
  position: absolute;
  left: 45px;
  color: white;
  display: flex;
 justify-content: center;
 bottom: 45px;
 flex-direction: column;
 align-items: center;
 font-size: 28px;
  font-weight: 500;
 }
 .press i{
  transform: rotate(90deg);
 }