/**
 * Your CSS goes here.


 
 */
 *{
  font-family: "Audiowide", sans-serif;


}


html, body {
scroll-behavior: smooth;
}


body{
background-color: #1A67B3;
overflow-x: hidden;

}
@media screen and (min-width: 769px) and (max-width: 1200px) {
@keyframes typewriter {
from {
  width: 0;
}
to {
  width: 100%;
}
}

.galaxy-title {
position: relative;
top: 50%;
left: 75%;
padding-top: 50px;
transform: translate(-50%, -50%);
white-space: nowrap;
overflow: hidden;
font-size: 50px;
text-align: center;
animation: typewriter 4s steps(40) 1s normal both, blink-caret 0.75s step-end infinite;

color: white;
}

@keyframes blink-caret {
from, to {
  border-right-color: transparent;
}
50% {
  border-right-color: white;
}
}

audio {
display: none;
}


.cosmicPlanet{
width: auto;

position: absolute;
bottom: -140%;
align-content: center;
left: 300px;
animation: spin 150s linear infinite;
display: block;
mix-blend-mode:screen;
z-index: 2;
}



.Group{
position: absolute;
width:max-content;
height: 100vh;
top: 0;
left: 0;
bottom: 0;
object-fit: cover;
}


@keyframes twinkling {

50% {
  transform: translateX(100px);
}

}


@keyframes spin{
  100% { transform: rotate(360deg); }
}
.spaceShip {
 width: 200px;
 height: auto;
 position: absolute;
 top: 0;
 left: 850px;
 padding-top:45px;

 
 z-index: 50;
}
.fire {
 width: 200px;
 height: auto;
 position: absolute;
 top: 300px;
 left: 850px;
 z-index: 49;
 transform: rotate(180deg);
 margin-top: 40px;
}
.stars{
position: absolute;
width:max-content;
animation: twinkling 30s linear infinite;

}
.stars2{
position: absolute;
top : 900px;
width: max-content;
animation: twinkling 30s linear infinite;

}

.spaceShip, .fire, .planet {
transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

#wish{
position: absolute;
mix-blend-mode: screen;
left: 600px;
top: -200px;

}

#text1{
position: absolute;
top: 350px;
left: 600px;;
display: none;
}

#text2{
position: absolute;
top: 250px;
left: 340px;
height: 13%;
display: none;
}

@keyframes rotateUFO {
0% {
  transform: rotate(0deg); 
}
100% {
  transform: rotate(30deg); 
}
}

#ufo{
position: absolute;
top: 300px;
left: 1200px;
height: 100px;
animation: rotateUFO 10s linear infinite;

}

.press{
left: 70px;
bottom: 50px;
z-index: 20;
position: absolute; 
left: 70px;
bottom: 50px;
z-index: 20;
position: absolute; 
}
.scroll{
position: absolute;
left: 1350px;
bottom: 50px;
z-index: 9;
left: 1700px;
bottom: 50px;
z-index: 9;
}

.press,.scroll {

  filter: drop-shadow(0 px 5px #4006f3) drop-shadow(0 px 25px #4006f3);
}

.press:hover, .scroll:hover, .speakers:hover{   
  filter: drop-shadow(0 5px 5px #4006f3) drop-shadow(0 25px 25px #4006f3)
  drop-shadow(0 25px 150px #4006f3);
  filter: drop-shadow(0 5px 5px #4006f3) drop-shadow(0 25px 25px #4006f3)
  drop-shadow(0 25px 150px #4006f3);

} 
.speakers {
position:absolute;
right: 45px;
top: 45px;
width: 50px;
height: 50px;
left: 1750px;
background: transparent;
color: white;
font-size: 30px;

}

.on {
display: block;
}
.off {
display: none;
}
button {
border-radius: 5px;
border: 1px solid #4006f3;
}


.none{
display: none;
}

}