/**
 * Your CSS goes here.


 
 */
 *{
  font-family: "Audiowide", sans-serif;


}



/*  html, body {
  scroll-behavior: smooth;
} 


 body{
  height: 100vh;
  background-color: #1A67B3;
  overflow: hidden;
  background-image:  url('./images/stars.svg'), url('./images/bg.svg') ;
  background-repeat: no-repeat, no-repeat;
  animation: animateBg 60s linear infinite;
 }
 @keyframes animateBg {
  0% {background-position: 0 0, 100% 0}
  50% {background-position: 100% 0, 200% 0}
  100% {background-position: 0 0, 100% 0} 
}
 
 audio {
  display: none; */

html, body {
scroll-behavior: smooth;
}


body{
background-color: #1A67B3;
overflow-x: hidden;

}

audio {
display: none;
}

/*  .cosmicPlanet{
  width: 1200px;
  height: 1200px;
 aspect-ratio: 1/1;
  position: absolute;
  bottom: calc(-100% - 220px);
  left: calc(50% - 600px);
  align-content: center;
  
  animation: spin 150s linear infinite;
  display: block;
  mix-blend-mode:screen;
  z-index: -2;
  margin: auto;
}
#wish{
  animation: falling 4s linear infinite;
}
@keyframes falling {
  100%{
    transform: translateX(-50vw) translateY(100vh);
    
  }
} */






.Group{
position: absolute;
width: 105%;
height: 100vh;
top: 0;
left: 0;
object-fit: cover;
z-index: -1;
}


/* .img2{
position: absolute;
width: 100%;
height: 150vh;
top: 750px;
height: 150vh;
top: 750px;
left: 0;
object-fit: cover;

z-index: 3;
} */

@keyframes twinkling {

50% {
  transform: translateX(100px);
}

}

 
/*  @keyframes spin{
    100% { transform: rotate(360deg); }
 }
 .spaceShip {
   width: 200px;

   aspect-ratio: 9/16;
   position: absolute;
   top: -60px;
   left: calc(50% - 100px);
 }
 .fire {
   width: 200px;
   height: auto;
   position: absolute;
   top: 200px;
   left: calc(50% - 100px);
   transform: rotate(180deg);
 } */


@keyframes spin{
  100% { transform: rotate(360deg); }
}


.stars{
position: absolute;
width: 120%;
animation: twinkling 30s linear infinite;

}
.stars2{
position: absolute;
top : 900px;
width: 120%;
animation: twinkling 30s linear infinite;

}
#hero-title{
  opacity: 0;
  color: white;
  margin: 50px auto;
  font-size: 30px;
  text-align: center;
  font-weight: 300;
}
#hero-title *{
  text-shadow: 0 0 5px #ddd5f5, 0 0 25px #ddd5f5, 0 0 50px #ddd5f5, 0 0 100px #ddd5f5, 0 0 200px #ddd5f5;
  -webkit-text-stroke: 1px white;
  color: rgba(0, 0, 0, 0);
  animation: flicker 3s linear infinite;

/* }
@keyframes flicker {
  0% {
    text-shadow: 0 0 5px #ddd5f5, 0 0 25px #ddd5f5, 0 0 50px #ddd5f5, 0 0 100px #ddd5f5, 0 0 150px #ddd5f5;
  }
  50% {
    text-shadow: 0 0 15px #ddd5f5, 0 0 35px #ddd5f5, 0 0 60px #ddd5f5, 0 0 120px #ddd5f5, 0 0 170px #ddd5f5;
  }
  100% {
    text-shadow: 00 0 20px #ddd5f5, 0 0 45px #ddd5f5, 0 0 70px #ddd5f5, 0 0 130px #ddd5f5, 0 0 190px #ddd5f5;
  }
}
.spaceShip, .fire {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; */

.spaceShip, .fire, .planet {
transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

}

#wish{
position: absolute;
mix-blend-mode: screen;
left: 600px;
top: -200px;

}

/* #text1{
position: absolute;
top: 350px;
left: 600px;
display: flex;
justify-content: center; 
align-items: center; 
border:black 5px solid ;

}

#text2{
position: absolute;
top: 250px;
left: 340px;
height: 13%;
border:black 5px solid ;

} */

@keyframes rotateUFO {
0% {
  transform: rotate(0deg); 
}
100% {
  transform: rotate(30deg); 
}
}

#ufo{
position: absolute;
top: 300px;
left: 1000px;
height: 100px;
animation: rotateUFO 10s linear infinite;

}




.press,.scroll {

  filter: drop-shadow(0 px 5px #4006f3) drop-shadow(0 px 25px #4006f3);
}

.press:hover, .scroll:hover, .speakers:hover {   
  filter: drop-shadow(0 5px 5px #4006f3) drop-shadow(0 25px 25px #4006f3)
  drop-shadow(0 25px 150px #4006f3);
  filter: drop-shadow(0 5px 5px #4006f3) drop-shadow(0 25px 25px #4006f3)
  drop-shadow(0 25px 150px #4006f3);

} 
.speakers {
position:absolute;
right: 45px;
top: 45px;
width: 50px;
height: 50px;
background: transparent;
color: white;
font-size: 28px;

}

.on {
display: block;
}
.off {
display: none;
}
button {
border-radius: 5px;
border: 1px solid #4006f3;
}


.none{
display: none;
}


#astro1 ,#astro2 ,#astro3 ,#astro4 ,#astro5 ,#astro6,#circle{
  position: absolute;

  z-index: 3;
  display: none;

  
}

#astro1{
top: 90%;
left: 23%;
width: 11.5%;
}
#astro2{
  top: 82%;
  left: 29%;
  width: 11.5%;
}
#astro3{
  top: 78%;
  left: 35%;
  width: 11.5%;
}
#astro4{
  top: 78%;
  left: 55%;
  width: 10%;
}
#astro5{
  top: 80%;
  left: 60%;
  width: 11.5%;
}
#astro6{
  top: 88%;
  left: 66%;
  width: 11.5%;
}
#circle{
  top: 89%;
  left: 45.2%;
  width: 9.5%;
} 
/* ------ css mohamed --------- */

.spaceShip{
  position: absolute;

  width: 13%;
  z-index: 50;

}

.fire {
  width: 13%;
  position: absolute;
  z-index: 49;
  transform: rotate(180deg);
  
 }

div.spaceship1{
  display: flex;
  justify-content: center; 
  align-items: center;  
}
/* 
div.cosmicplanet1{
  position: absolute;
  display: block;
  justify-content: center; 
  align-items: center; 
 
} */

/* @keyframes rotateUFO {
  0% {
    transform: rotate(0deg) translateX(100px) scale(1); 
  }
  100% {
    transform: rotate(30deg) translateX(500px) scale(3);  */

.cosmicPlanet{
  width: 100%;
  
  position: absolute;
  bottom: -140%;
  align-content: center;
 
  
  animation: spin 150s linear infinite;
  display: block;
  mix-blend-mode:screen;
  z-index: 2;

  }
  

  .press{
    position: absolute;
    z-index: 20;
    height: 15%;
    margin-top: 50%;
    position: fixed;
    bottom: 0.5em;
    left: 5%; 
    transform: translateX(-40%);
    }

.scroll{
    position: absolute;
    z-index: 20;
    height: 15%;
    margin-top: 50%;
    position: fixed;
    bottom: 0.5em;
    right: 5%; 
    transform: translateX(40%);
      }

.formplace{
  width: 80%;
  margin-top: -10%;
  padding: 0;
  z-index: 4; 
  
}

div.buttons{
  margin-top: 35%;
  display: flex;
  justify-content: center; 
  align-items: center; 
  z-index: 5;
  
}

.generate{
  position: absolute;

/*   top: 300px;
  right: 200px;
  left: 1200px;
  animation: rotateUFO 10s linear infinite;
  z-index: 0; */

  width: 7%;
  height: 40px;
  border:#4006f3 2px solid ;
  margin-right: 0.5%;
  font-size: 80%;
  color: #4006f3;
  z-index: 5;
  margin-top: -10%;
  
  }


.clear{
  position: absolute;
  width: 7%;
  height: 40px;
  border:red 2px solid ;
  margin-right: 0.5%;
  font-size: 80%;
  margin-top: 15%;
  color: red;
  z-index: 5;
  left: 66%;
 
} 

div.herotext{
  position: relative;
  height: 400px;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.madLibsEdit, .madLibsPreview {

  z-index: 400;
  position: absolute;
  margin-top: 31%;
  font-size: 110%; 
  
 
 


}

#container{
  z-index: 400;
  display: flex;
  flex-direction: row;

  
 

  
}

.madLibsPreview {
 
  
/*  
  .on {
  display: block;
 }
 .off {
  display: none;
 }
 button {
  border-radius: 0 25px;
  border: 1px solid #4006f3;
 }

.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 95%;
  margin: auto;
  height: 95%;

  border-radius: 0 25px;
  position: relative;
  background: rgba(8, 0, 0, 0.5);
  box-shadow: 0 0 5px #ddd5f5;
  padding: 1rem;
  gap: 1rem;
  transition: all ease 2s;
  z-index: 100;
}
.inputWord{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
    gap: 1rem;
    width: 80%;
}
.inputWord input{
  height: 2rem;
  background: rgba(255, 255, 255, 0.5);
  border: 2px solid white;
  width: 70%;
  font-size: 18px;
}
 .none{
  display: none;
 }
 .madLibsEdit, .madLibsPreview{
  
  height: 95%;
  color: white;
    font-size: 18px;
    font-weight: 500;
    border: 2px solid white;
    padding: .75rem;
 }
 .madLibsPreview{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
 }
 .madLibsEdit form{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
 }
 #storyPreview{
  letter-spacing: 2px;
  line-height: 32px;
 }
 #storyPreview p{
  margin: auto 0;
  color: white;
  transition: all 50s ease-in-out;
 }
 .transparent{
  color: transparent;
 }
 .hiddenWord{
  background: rgba(255, 255, 255, 0.5);
  color: black;
 }
 .shipStyle{
  width: 120px;
  height: 500px;
  aspect-ratio: 9/16;
  position: absolute;
  top: 50px;
  left: calc(50% - 60px);
  z-index: 1;
  top: 10px;
  z-index: 0;
  transition: all ease-in 2s;
  
 }
 @keyframes orbit {
  0% {
    transform: translate(300px) rotate(0deg);
  }
  25% {
    transform: translateX(0px) translateY(-300px) rotate(-90deg);
  }
  50% {
    transform: translateY(-300px) translateX(0px) rotate(180deg);
  }
  75% {
    transform: translateX(-300px) translateY(0px) rotate(-90deg);
  }
  100% {
    transform: translateY(300px) translateX(0px) rotate(0deg);
  }
 }
 .planetStyle{
  width: 800px;
  height: 800px;
 aspect-ratio: 1/1;
  position: absolute;
  bottom: calc(50% - 400px);
  left: calc(50% - 400px);
  align-content: center;
  
  animation: spin 150s linear infinite;
  display: block;
  mix-blend-mode:screen;
  z-index: -2;
  margin: auto;
  transition: all ease-in 2s;
 }
 .revealBtn{
  height: 4rem;
  width: 40%;
  background: transparent;
  box-shadow:0 0 5px #ddd5f5, 0 0 25px #ddd5f5, 0 0 50px #ddd5f5, 0 0 100px #ddd5f5, 0 0 200px #ddd5f5;
  border: none;

  margin: auto;
  display: block;
  font-size: 22px;

  -webkit-text-stroke: 1px white;
  color: rgba(0, 0, 0, 0);
  animation: flicker 3s linear infinite;
 }
 .divBtn{
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
 }
 .astro{
  width: 100px;
  height: 200px;
  position: absolute;
  transition: all 20s ease-in-out ;
 }
 #astro1{
  left: calc(50% - 340px);
  top: calc(50% - 250px);
 }
 #astro2{
  left: calc(50% - 240px);
  top: calc(50% - 320px);
 }
 #astro3{
  left: calc(50% - 140px);
  top: calc(50% - 390px);
 }
 #astro4{
  left: calc(50% + 60px);
  top: calc(50% - 390px);
 }
 #astro5{
  left: calc(50% + 150px);
  top: calc(50% - 320px);
 }
 #astro6{
  left: calc(50% + 240px);
  top: calc(50% - 250px);
 } */


  left:57.5%;
  width:25%;
  text-align: center;

  


}
.madLibsEdit {

  left: 17%;
  width: 25%; 
  text-align: center;

}

input{
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 20%;
  font-size: 50%;
 
}

#text2{
  width: 70%;
  margin-top: 10%;
  position: absolute;
}

#text1{
  width: 30%;
  margin-top: 30%;
  position: absolute;
}